.center {
  /* border: 1px solid; */
  margin: auto;
  width: 50%;
  padding: 2px;
}

@media screen and (max-width: 800px) {
  .center {
    width: 100%;
    border: None;
    padding: 1px; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
